In [92]:
# Setup
import pandas as pd
import numpy as np

In [93]:
#setup to download data directly from the databank
import pandas_datareader
import datetime

In [94]:
#setup to download data directly from world data bank
from pandas_datareader import wb

In [95]:
#define countries we are looking for
countries = ["CN","JP","BR","US","DK","ES","TM","IN","NG"]

In [96]:
#define indicator
indicators = {"NY.GDP.PCAP.KD":"GDP per capita", "NY.GDP.MKTP.CD":"GDP(current US $)", "SP.POP.TOTL":"Population total", 
              "SP.URB.TOTL.IN.ZS":"Urban Population in %", "SP.DYN.TFRT.IN":"Fertility Rate", "SE.ADT.LITR.ZS": "Literacy rate, adult total in %" }

In [97]:
#example download world data bank shown in the lecture
data_wb = wb.download(indicator= indicators, country= countries, start=1990, end=2017)
data_wb = data_wb.rename(columns = {"NY.GDP.PCAP.KD":"gdp_pC","NY.GDP.MKTP.CD":"gdp", "SP.POP.TOTL":"pop", "SP.URB.TOTL.IN.ZS":"urban_pop%", 
                                    "SP.DYN.TFRT.IN":"frt", "SE.ADT.LITR.ZS":"litr"})
data_wb = data_wb.reset_index()
data_wb.head(-5)

,country,year,gdp_pC,gdp,pop,urban_pop%,frt,litr
0,Brazil,2017,10888.982385,2.055506e+12,209288278,86.309,NaN,NaN
1,Brazil,2016,10868.653444,1.793989e+12,207652865,86.042,1.7260,NaN
2,Brazil,2015,11351.565748,1.802214e+12,205962108,85.770,1.7400,92.04790
3,Brazil,2014,11870.148408,2.455994e+12,204213133,85.492,1.7530,91.72943
4,Brazil,2013,11915.417054,2.472807e+12,202408632,85.209,1.7650,91.48424
5,Brazil,2012,11673.770536,2.465189e+12,200560983,84.923,1.7770,91.33785
6,Brazil,2011,11560.418751,2.616202e+12,198686688,84.631,1.7900,91.41124
7,Brazil,2010,11224.154083,2.208872e+12,196796269,84.335,1.8050,90.37918
8,Brazil,2009,10538.778282,1.667020e+12,194895996,84.044,1.8240,90.29821
9,Brazil,2008,10656.869466,1.695825e+12,192979029,83.749,1.8510,90.03662
10,Brazil,2007,10244.267153,1.397084e+12,191026637,83.448,1.8840,90.00937
11,Brazil,2006,9761.834283,1.107640e+12,189012412,83.143,1.9260,89.61523
12,Brazil,2005,9495.484650,8.916302e+11,186917361,82.834,1.9750,NaN
13,Brazil,2004,9309.892056,6.693167e+11,184738458,82.521,2.0330,88.61624
14,Brazil,2003,8911.319512,5.583199e+11,182482149,82.203,2.0960,NaN
15,Brazil,2002,8924.896961,5.079625e+11,180151021,81.880,2.1630,NaN
16,Brazil,2001,8777.357134,5.593723e+11,177750670,81.553,2.2320,NaN
17,Brazil,2000,8779.290799,6.554206e+11,175287587,81.192,2.3000,86.36788
18,Brazil,1999,8555.915670,5.993886e+11,172759243,80.496,2.3650,NaN
19,Brazil,1998,8645.513397,8.637234e+11,170170640,79.781,2.4260,NaN
20,Brazil,1997,8751.379990,8.831996e+11,167545164,79.048,2.4820,NaN
21,Brazil,1996,8599.101647,8.504264e+11,164913306,78.302,2.5350,NaN
22,Brazil,1995,8549.021520,7.693054e+11,162296612,77.610,2.5860,NaN
23,Brazil,1994,8320.260475,5.581120e+11,159705123,76.903,2.6380,NaN
24,Brazil,1993,8028.203927,4.377986e+11,157132682,76.181,2.6940,NaN
25,Brazil,1992,7797.827261,4.005992e+11,154564278,75.444,2.7560,NaN
26,Brazil,1991,7967.803378,6.028600e+11,151976577,74.690,2.8270,NaN
27,Brazil,1990,7987.055216,4.619518e+11,149352145,73.922,2.9090,NaN
28,China,2017,7329.089299,1.223770e+13,1386395000,57.960,NaN,NaN
29,China,2016,6894.464522,1.119099e+13,1378665000,56.736,1.6240,NaN
...,...,...,...,...,...,...,...,...
217,Turkmenistan,1996,2151.272564,2.378760e+09,4287344,45.018,3.3230,NaN
218,Turkmenistan,1995,2054.282490,2.474614e+09,4207840,44.794,3.5120,98.77832
219,Turkmenistan,1994,2263.556345,2.496503e+09,4115099,44.734,3.7070,NaN
220,Turkmenistan,1993,2808.248528,3.172880e+09,4010789,44.819,3.8980,NaN
221,Turkmenistan,1992,2845.458058,3.200540e+09,3899843,44.904,4.0710,NaN
222,Turkmenistan,1991,3443.981623,3.208099e+09,3789185,44.990,4.2220,NaN
223,Turkmenistan,1990,3713.356174,3.189540e+09,3683966,45.075,4.3440,NaN
224,United States,2017,53128.539700,1.939060e+13,325719178,82.058,NaN,NaN
225,United States,2016,52319.163351,1.862448e+13,323405935,81.862,1.8000,NaN
226,United States,2015,51933.404806,1.812071e+13,321039839,81.671,1.8435,NaN
227,United States,2014,50871.674083,1.742761e+13,318622525,81.483,1.8625,NaN
228,United States,2013,49971.951357,1.669152e+13,316234505,81.299,1.8575,NaN
229,United States,2012,49498.390916,1.615526e+13,313993272,81.119,1.8805,NaN
230,United States,2011,48786.454976,1.551793e+13,311644280,80.944,1.8945,NaN
231,United States,2010,48375.406946,1.496437e+13,309338421,80.772,1.9310,NaN
232,United States,2009,47575.608563,1.441874e+13,306771529,80.606,2.0020,NaN
233,United States,2008,49364.644550,1.471858e+13,304093966,80.438,2.0720,NaN
234,United States,2007,49979.533843,1.447764e+13,301231207,80.269,2.1200,NaN
235,United States,2006,49575.401014,1.385589e+13,298379912,80.099,2.1080,NaN
236,United States,2005,48755.616061,1.309373e+13,295516599,79.928,2.0570,NaN
237,United States,2004,47614.279862,1.227493e+13,292805298,79.757,2.0515,NaN
238,United States,2003,46304.036090,1.151067e+13,290107933,79.583,2.0475,NaN
239,United States,2002,45428.645678,1.097751e+13,287625193,79.409,2.0205,NaN
240,United States,2001,45047.487198,1.062182e+13,284968955,79.234,2.0305,NaN
241,United States,2000,45055.817918,1.028478e+13,282162411,79.057,2.0560,NaN
242,United States,1999,43768.884993,9.660624e+12,279040000,78.742,2.0075,NaN
243,United States,1998,42292.891201,9.089168e+12,275854000,78.377,1.9990,NaN
244,United States,1997,40965.846645,8.608515e+12,272657000,78.008,1.9710,NaN
245,United States,1996,39681.519858,8.100201e+12,269394000,77.636,1.9760,NaN
246,United States,1995,38677.715088,7.664060e+12,266278000,77.257,1.9780,NaN

In [98]:
# save datasheet as excel (just to see it)_index=false to avoid saving the index
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')
data_wb.to_excel(r"C:\Users\Lisa1\Desktop\MarieDokumente\Uni\Master\VWL\Phython Introduction\project_1\data_wb.xlsx")

In [99]:
data_wb.shape

(252, 8)

In [100]:
#summary statistics
data_wb.describe()

,gdp_pC,gdp,pop,urban_pop%,frt,litr
count,252.000000,2.520000e+02,2.520000e+02,252.000000,243.000000,37.000000
mean,21233.396342,2.711959e+12,3.535354e+08,62.670782,2.500788,86.996919
std,20848.112381,4.160881e+12,4.643669e+08,22.309393,1.429512,15.393391
min,530.894738,2.378760e+09,3.683966e+06,25.547000,1.130000,48.222070
25%,2131.254824,2.756119e+11,4.001550e+07,42.571500,1.547000,88.616240
50%,9117.394509,6.845028e+11,1.336831e+08,76.098500,1.926000,91.484240
75%,42252.611495,3.939735e+12,3.099149e+08,81.576500,2.860500,97.750690
max,61582.166069,1.939060e+13,1.386395e+09,91.535000,6.490000,99.700000

In [101]:
# detect for missing data
## count missing data
data_wb.isnull().sum().sum()

224

In [102]:
## number of observations
data_wb.count()

country       252
year          252
gdp_pC        252
gdp           252
pop           252
urban_pop%    252
frt           243
litr           37
dtype: int64

In [103]:
## missing value of each variable
data_wb.isnull().sum()

country         0
year            0
gdp_pC          0
gdp             0
pop             0
urban_pop%      0
frt             9
litr          215
dtype: int64

In [104]:
# drop litr
data_wb.drop(['litr'], axis = 1, inplace = True)

In [105]:
#search for the nine missing values in frt
data_wb.groupby('year').mean()

            gdp_pC           gdp           pop  urban_pop%       frt
year
1990  17322.451855  1.220276e+12  2.967548e+08   57.055444  2.976556
1991  17480.059862  1.308705e+12  3.014833e+08   57.391000  2.915611
1992  17614.304534  1.377011e+12  3.060832e+08   57.713778  2.859778
1993  17609.773375  1.465415e+12  3.106009e+08   58.036333  2.788278
1994  18033.666256  1.598084e+12  3.151175e+08   58.359222  2.734611
1995  18406.356586  1.757443e+12  3.196142e+08   58.698333  2.667778
1996  18865.593012  1.768648e+12  3.240756e+08   59.055889  2.614000
1997  19293.235727  1.788612e+12  3.285511e+08   59.419889  2.569556
1998  19603.763245  1.809047e+12  3.329623e+08   59.784556  2.531111
1999  20055.022231  1.915752e+12  3.372451e+08   60.148778  2.502389
2000  20720.956232  2.037014e+12  3.414183e+08   60.506333  2.493667
2001  20890.638069  2.019048e+12  3.454926e+08   61.009667  2.462944
2002  21037.153976  2.062538e+12  3.495014e+08   61.584222  2.440278
2003  21287.159805  2.223374e+12  3.534380e+08   62.156778  2.430500
2004  21829.805001  2.430954e+12  3.573266e+08   62.730778  2.415389
2005  22334.859762  2.604624e+12  3.612014e+08   63.304667  2.399444
2006  22922.760237  2.773352e+12  3.650559e+08   63.849778  2.404889
2007  23293.872427  3.025593e+12  3.688667e+08   64.377889  2.396222
2008  23219.725231  3.286906e+12  3.726299e+08   64.900889  2.397333
2009  22292.238359  3.320386e+12  3.762823e+08   65.414444  2.368444
2010  22835.791361  3.641126e+12  3.798534e+08   65.920333  2.358778
2011  23058.496225  3.995425e+12  3.833216e+08   66.361333  2.331833
2012  23223.296094  4.152172e+12  3.867638e+08   66.783778  2.320611
2013  23510.026213  4.227066e+12  3.901623e+08   67.203778  2.298722
2014  23875.135366  4.399716e+12  3.935880e+08   67.622333  2.294278
2015  24273.397464  4.390493e+12  3.970325e+08   68.042444  2.284944
2016  24580.469858  4.535327e+12  4.005282e+08   68.463556  2.263333
2017  25065.089226  4.800737e+12  4.040394e+08   68.885667       NaN

In [106]:
#show frt only for 2017
data_wb.loc[data_wb['year'] == "2017", :].head(-1)

,country,year,gdp_pC,gdp,pop,urban_pop%,frt
0,Brazil,2017,10888.982385,2.055506e+12,209288278,86.309,NaN
28,China,2017,7329.089299,1.223770e+13,1386395000,57.960,NaN
56,Denmark,2017,61582.166069,3.248720e+11,5769603,87.757,NaN
84,Spain,2017,32405.750814,1.311320e+12,46572028,80.080,NaN
112,India,2017,1964.595183,2.600818e+12,1339180127,33.600,NaN
140,Japan,2017,48556.927245,4.872137e+12,126785797,91.535,NaN
168,Nigeria,2017,2412.202835,3.757455e+11,190886311,49.519,NaN
196,Turkmenistan,2017,7317.549506,3.792629e+10,5758075,51.153,NaN

In [107]:
# drop the year for which the data is missing 
I = data_wb['year'] == "2017"
data_wb.drop(data_wb[I].index, inplace = True)
# => data cleaning done

In [108]:
#summary statistics
data_wb.describe()

data_wb.count()
#=>data cleaning finished

country       243
year          243
gdp_pC        243
gdp           243
pop           243
urban_pop%    243
frt           243
dtype: int64

In [109]:
data_wb.shape

(243, 7)

In [110]:
# make some cool groupby things see lecture basic_data
##empl.groupby('municipality')['e'].mean().head(10)
##empl.groupby('year')['e'].mean().plot
# demean to compare it better
##stocks2.groupby('firm')['close_demeaned'].plot(legend=True); 
##plt.title('Stock price: deviation from time-average'); 
# perform summary statistics
## nameofdataset.describe()
# maybe create an interactive table for each country
##see load_save_and_structure_data
#correlation table?
# maybe perform a simple regression
# world maps as diagramm

#graphs -GDP and fertility rate

In [186]:
import matplotlib.pyplot as plt
%matplotlib inline 
from ipywidgets import interact, interactive, fixed, interact_manual 
import ipywidgets as widgets

In [187]:
country=data_wb["country"]

In [188]:
year=data_wb["year"]

In [189]:
gdp_pC=data_wb["gdp_pC"]

In [196]:
def interactive_figure(country, year, gdp_pC):
    fig=plt.figure
    axis(year, gdp_pC)
    ax.hist(dist, density=True)

In [197]:
widgets.interact(interactive_figure,
                year=widgets.fixed(year),
                country=widgets.Dropdown(description="country", options=["Brazil", "Denmark", "China"]),
                gdp_pC=widgets.fixed(gdp_pC));

interactive(children=(Dropdown(description='country', options=('Brazil', 'Denmark', 'China'), value='Brazil'),â€¦

In [156]:
import plotly.plotly as py
import plotly.graph_objs as go

trace0 = go.Scatter(
    x=years,
    y=gdp_pC,
    mode='markers',
    marker=dict(color='#835AF1')
)

data=[trace0]

layout=dict(title="Interactive Plot", showlegend=False)

fig=dict(data=data, layout=layout)
py.iplot(fig, filename="relayout_option_dropdown")

ModuleNotFoundError: No module named 'plotly'

In [ ]:
Denmark=go.Scatter(x=(data_wb["year"] if country==Denmark), y=(data_wb["gdp_pC") if country==Denmark), name="Denmark")
                                                                       
                                                                       
Brazil=go.Scatter(x=data_wb["year"]", y=data_wb["gdp_pC"), name="Brazil")
China=go.Scatter(x=data_wb["year"], y=data_wb["gdp_pC"), name="Denmark")

In [157]:
Denmark=go.Scatter(x=(data_wb["year"] if country==Denmark), y=(data_wb["gdp_pC") if country==Denmark), name="Denmark")

SyntaxError: invalid syntax (<ipython-input-157-fb1c3b7645de>, line 1)

In [172]:
plot=plt.plot(country, gdp_pC, year)

widget.interact(plot,
               year=widgets.fixed(year),
               country=widgets.Dropdown(description="country", options=["Brazil", "Denmark", "China"], value=1)
               gdp_pC=widgets.fixed(gdp_pC))

SyntaxError: invalid syntax (<ipython-input-172-4e7880521827>, line 6)