In [100]:
# Setup
import pandas as pd
import numpy as np

In [101]:
#setup to download data directly from the databank
import pandas_datareader
import datetime

In [102]:
#setup to download data directly from world data bank
from pandas_datareader import wb

In [103]:
#define countries we are looking for
countries = ["CN","JP","BR","US","DK","ES","TM","IN","NG"]

In [104]:
#define indicator
indicators = {"NY.GDP.PCAP.KD":"GDP per capita", "NY.GDP.MKTP.CD":"GDP(current US $)", "SP.POP.TOTL":"Population total", 
              "SP.URB.TOTL.IN.ZS":"Urban Population in %", "SP.DYN.TFRT.IN":"Fertility Rate", "SE.ADT.LITR.ZS": "Literacy rate, adult total in %" }

In [106]:
#example download world data bank shown in the lecture
data_wb = wb.download(indicator= indicators, country= countries, start=1990, end=2017)
data_wb = data_wb.rename(columns = {"NY.GDP.PCAP.KD":"gdp_pC","NY.GDP.MKTP.CD":"gdp", "SP.POP.TOTL":"pop", "SP.URB.TOTL.IN.ZS":"urban_pop%", 
                                    "SP.DYN.TFRT.IN":"frt", "SE.ADT.LITR.ZS":"litr"})
data_wb = data_wb.reset_index()
data_wb.head(-5)

,country,year,gdp_pC,gdp,pop,urban_pop%,frt,litr
0,Brazil,2017,10888.982385,2.055506e+12,209288278,86.309,NaN,NaN
1,Brazil,2016,10868.653444,1.793989e+12,207652865,86.042,1.7260,NaN
2,Brazil,2015,11351.565748,1.802214e+12,205962108,85.770,1.7400,92.04790
3,Brazil,2014,11870.148408,2.455994e+12,204213133,85.492,1.7530,91.72943
4,Brazil,2013,11915.417054,2.472807e+12,202408632,85.209,1.7650,91.48424
5,Brazil,2012,11673.770536,2.465189e+12,200560983,84.923,1.7770,91.33785
6,Brazil,2011,11560.418751,2.616202e+12,198686688,84.631,1.7900,91.41124
7,Brazil,2010,11224.154083,2.208872e+12,196796269,84.335,1.8050,90.37918
8,Brazil,2009,10538.778282,1.667020e+12,194895996,84.044,1.8240,90.29821
9,Brazil,2008,10656.869466,1.695825e+12,192979029,83.749,1.8510,90.03662
10,Brazil,2007,10244.267153,1.397084e+12,191026637,83.448,1.8840,90.00937
11,Brazil,2006,9761.834283,1.107640e+12,189012412,83.143,1.9260,89.61523
12,Brazil,2005,9495.484650,8.916302e+11,186917361,82.834,1.9750,NaN
13,Brazil,2004,9309.892056,6.693167e+11,184738458,82.521,2.0330,88.61624
14,Brazil,2003,8911.319512,5.583199e+11,182482149,82.203,2.0960,NaN
15,Brazil,2002,8924.896961,5.079625e+11,180151021,81.880,2.1630,NaN
16,Brazil,2001,8777.357134,5.593723e+11,177750670,81.553,2.2320,NaN
17,Brazil,2000,8779.290799,6.554206e+11,175287587,81.192,2.3000,86.36788
18,Brazil,1999,8555.915670,5.993886e+11,172759243,80.496,2.3650,NaN
19,Brazil,1998,8645.513397,8.637234e+11,170170640,79.781,2.4260,NaN
20,Brazil,1997,8751.379990,8.831996e+11,167545164,79.048,2.4820,NaN
21,Brazil,1996,8599.101647,8.504264e+11,164913306,78.302,2.5350,NaN
22,Brazil,1995,8549.021520,7.693054e+11,162296612,77.610,2.5860,NaN
23,Brazil,1994,8320.260475,5.581120e+11,159705123,76.903,2.6380,NaN
24,Brazil,1993,8028.203927,4.377986e+11,157132682,76.181,2.6940,NaN
25,Brazil,1992,7797.827261,4.005992e+11,154564278,75.444,2.7560,NaN
26,Brazil,1991,7967.803378,6.028600e+11,151976577,74.690,2.8270,NaN
27,Brazil,1990,7987.055216,4.619518e+11,149352145,73.922,2.9090,NaN
28,China,2017,7329.089299,1.223770e+13,1386395000,57.960,NaN,NaN
29,China,2016,6894.464522,1.119099e+13,1378665000,56.736,1.6240,NaN
...,...,...,...,...,...,...,...,...
217,Turkmenistan,1996,2151.272564,2.378760e+09,4287344,45.018,3.3230,NaN
218,Turkmenistan,1995,2054.282490,2.474614e+09,4207840,44.794,3.5120,98.77832
219,Turkmenistan,1994,2263.556345,2.496503e+09,4115099,44.734,3.7070,NaN
220,Turkmenistan,1993,2808.248528,3.172880e+09,4010789,44.819,3.8980,NaN
221,Turkmenistan,1992,2845.458058,3.200540e+09,3899843,44.904,4.0710,NaN
222,Turkmenistan,1991,3443.981623,3.208099e+09,3789185,44.990,4.2220,NaN
223,Turkmenistan,1990,3713.356174,3.189540e+09,3683966,45.075,4.3440,NaN
224,United States,2017,53128.539700,1.939060e+13,325719178,82.058,NaN,NaN
225,United States,2016,52319.163351,1.862448e+13,323405935,81.862,1.8000,NaN
226,United States,2015,51933.404806,1.812071e+13,321039839,81.671,1.8435,NaN
227,United States,2014,50871.674083,1.742761e+13,318622525,81.483,1.8625,NaN
228,United States,2013,49971.951357,1.669152e+13,316234505,81.299,1.8575,NaN
229,United States,2012,49498.390916,1.615526e+13,313993272,81.119,1.8805,NaN
230,United States,2011,48786.454976,1.551793e+13,311644280,80.944,1.8945,NaN
231,United States,2010,48375.406946,1.496437e+13,309338421,80.772,1.9310,NaN
232,United States,2009,47575.608563,1.441874e+13,306771529,80.606,2.0020,NaN
233,United States,2008,49364.644550,1.471858e+13,304093966,80.438,2.0720,NaN
234,United States,2007,49979.533843,1.447764e+13,301231207,80.269,2.1200,NaN
235,United States,2006,49575.401014,1.385589e+13,298379912,80.099,2.1080,NaN
236,United States,2005,48755.616061,1.309373e+13,295516599,79.928,2.0570,NaN
237,United States,2004,47614.279862,1.227493e+13,292805298,79.757,2.0515,NaN
238,United States,2003,46304.036090,1.151067e+13,290107933,79.583,2.0475,NaN
239,United States,2002,45428.645678,1.097751e+13,287625193,79.409,2.0205,NaN
240,United States,2001,45047.487198,1.062182e+13,284968955,79.234,2.0305,NaN
241,United States,2000,45055.817918,1.028478e+13,282162411,79.057,2.0560,NaN
242,United States,1999,43768.884993,9.660624e+12,279040000,78.742,2.0075,NaN
243,United States,1998,42292.891201,9.089168e+12,275854000,78.377,1.9990,NaN
244,United States,1997,40965.846645,8.608515e+12,272657000,78.008,1.9710,NaN
245,United States,1996,39681.519858,8.100201e+12,269394000,77.636,1.9760,NaN
246,United States,1995,38677.715088,7.664060e+12,266278000,77.257,1.9780,NaN

IMPORTANT: Change the following code to your's and if you run it twice you need to change the name or we figure sth out on how to overwrite the existing one

In [107]:
# save datasheet as excel (just to see it)_index=false to avoid saving the index
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')
data_wb.to_excel(r"C:\Users\BKirs\OneDrive\03_Master\07_IntroToProgramming\DataProject_IP\projects-2019-tba\dataproject\dataproject\Dataproject_Bianca\data_wb1.xlsx")

In [108]:
# Bianca
#to round all the numbers:
round(data_wb.head(),2)

  country  year    gdp_pC           gdp        pop  urban_pop%   frt   litr
0  Brazil  2017  10888.98  2.055506e+12  209288278       86.31   NaN    NaN
1  Brazil  2016  10868.65  1.793989e+12  207652865       86.04  1.73    NaN
2  Brazil  2015  11351.57  1.802214e+12  205962108       85.77  1.74  92.05
3  Brazil  2014  11870.15  2.455994e+12  204213133       85.49  1.75  91.73
4  Brazil  2013  11915.42  2.472807e+12  202408632       85.21  1.76  91.48

In [109]:
# Bianca
#new variable for gdp
data_wb['gdp_in_bil'] = data_wb['gdp']/1000000000
data_wb['gdp_in_millions'] = data_wb['gdp']/1000000
#other way to round:
#    data_wb['gdp_in_millions'] = round(data_wb['gdp']/1000000,2)

round(data_wb.head(),2) #just to check

,country,year,gdp_pC,gdp,pop,urban_pop%,frt,litr,gdp_in_bil,gdp_in_millions
0,Brazil,2017,10888.98,2.055506e+12,209288278,86.31,NaN,NaN,2055.51,2055505.50
1,Brazil,2016,10868.65,1.793989e+12,207652865,86.04,1.73,NaN,1793.99,1793989.05
2,Brazil,2015,11351.57,1.802214e+12,205962108,85.77,1.74,92.05,1802.21,1802214.37
3,Brazil,2014,11870.15,2.455994e+12,204213133,85.49,1.75,91.73,2455.99,2455993.63
4,Brazil,2013,11915.42,2.472807e+12,202408632,85.21,1.76,91.48,2472.81,2472806.92

In [110]:
# Bianca
#drop old variable for gdp
del data_wb['gdp']
round(data_wb.head(),2)

,country,year,gdp_pC,pop,urban_pop%,frt,litr,gdp_in_bil,gdp_in_millions
0,Brazil,2017,10888.98,209288278,86.31,NaN,NaN,2055.51,2055505.50
1,Brazil,2016,10868.65,207652865,86.04,1.73,NaN,1793.99,1793989.05
2,Brazil,2015,11351.57,205962108,85.77,1.74,92.05,1802.21,1802214.37
3,Brazil,2014,11870.15,204213133,85.49,1.75,91.73,2455.99,2455993.63
4,Brazil,2013,11915.42,202408632,85.21,1.76,91.48,2472.81,2472806.92

In [111]:
data_wb.shape #how many obs and variables

(252, 9)

In [112]:
#summary statistics
data_wb.describe()

,gdp_pC,pop,urban_pop%,frt,litr,gdp_in_bil,gdp_in_millions
count,252.000000,2.520000e+02,252.000000,243.000000,37.000000,252.000000,2.520000e+02
mean,21233.396342,3.535354e+08,62.670782,2.500788,86.996919,2711.958710,2.711959e+06
std,20848.112381,4.643669e+08,22.309393,1.429512,15.393391,4160.880645,4.160881e+06
min,530.894738,3.683966e+06,25.547000,1.130000,48.222070,2.378760,2.378760e+03
25%,2131.254824,4.001550e+07,42.571500,1.547000,88.616240,275.611855,2.756119e+05
50%,9117.394509,1.336831e+08,76.098500,1.926000,91.484240,684.502753,6.845028e+05
75%,42252.611495,3.099149e+08,81.576500,2.860500,97.750690,3939.734538,3.939735e+06
max,61582.166069,1.386395e+09,91.535000,6.490000,99.700000,19390.604000,1.939060e+07

Maybe use a gdp in Millions and then do sth to decimals

In [113]:
# detect for missing data
## count missing data
data_wb.isnull().sum().sum()

224

In [114]:
## number of observations
data_wb.count()

country            252
year               252
gdp_pC             252
pop                252
urban_pop%         252
frt                243
litr                37
gdp_in_bil         252
gdp_in_millions    252
dtype: int64

In [115]:
## missing value of each variable
data_wb.isnull().sum()

country              0
year                 0
gdp_pC               0
pop                  0
urban_pop%           0
frt                  9
litr               215
gdp_in_bil           0
gdp_in_millions      0
dtype: int64

In [116]:
# drop litr
data_wb.drop(['litr'], axis = 1, inplace = True)

In [117]:
#search for the nine missing values in frt
data_wb.groupby('year').mean()

,gdp_pC,pop,urban_pop%,frt,gdp_in_bil,gdp_in_millions
year,,,,,,
1990,17322.451855,2.967548e+08,57.055444,2.976556,1220.276392,1.220276e+06
1991,17480.059862,3.014833e+08,57.391000,2.915611,1308.705386,1.308705e+06
1992,17614.304534,3.060832e+08,57.713778,2.859778,1377.011199,1.377011e+06
1993,17609.773375,3.106009e+08,58.036333,2.788278,1465.414697,1.465415e+06
1994,18033.666256,3.151175e+08,58.359222,2.734611,1598.083821,1.598084e+06
1995,18406.356586,3.196142e+08,58.698333,2.667778,1757.443256,1.757443e+06
1996,18865.593012,3.240756e+08,59.055889,2.614000,1768.647553,1.768648e+06
1997,19293.235727,3.285511e+08,59.419889,2.569556,1788.612171,1.788612e+06
1998,19603.763245,3.329623e+08,59.784556,2.531111,1809.046541,1.809047e+06
1999,20055.022231,3.372451e+08,60.148778,2.502389,1915.752354,1.915752e+06
2000,20720.956232,3.414183e+08,60.506333,2.493667,2037.014201,2.037014e+06
2001,20890.638069,3.454926e+08,61.009667,2.462944,2019.048241,2.019048e+06
2002,21037.153976,3.495014e+08,61.584222,2.440278,2062.537840,2.062538e+06
2003,21287.159805,3.534380e+08,62.156778,2.430500,2223.374182,2.223374e+06
2004,21829.805001,3.573266e+08,62.730778,2.415389,2430.953582,2.430954e+06
2005,22334.859762,3.612014e+08,63.304667,2.399444,2604.623948,2.604624e+06
2006,22922.760237,3.650559e+08,63.849778,2.404889,2773.352322,2.773352e+06
2007,23293.872427,3.688667e+08,64.377889,2.396222,3025.592533,3.025593e+06
2008,23219.725231,3.726299e+08,64.900889,2.397333,3286.906373,3.286906e+06
2009,22292.238359,3.762823e+08,65.414444,2.368444,3320.385677,3.320386e+06
2010,22835.791361,3.798534e+08,65.920333,2.358778,3641.126052,3.641126e+06
2011,23058.496225,3.833216e+08,66.361333,2.331833,3995.425480,3.995425e+06
2012,23223.296094,3.867638e+08,66.783778,2.320611,4152.172231,4.152172e+06
2013,23510.026213,3.901623e+08,67.203778,2.298722,4227.065556,4.227066e+06
2014,23875.135366,3.935880e+08,67.622333,2.294278,4399.715923,4.399716e+06
2015,24273.397464,3.970325e+08,68.042444,2.284944,4390.492720,4.390493e+06
2016,24580.469858,4.005282e+08,68.463556,2.263333,4535.327095,4.535327e+06
2017,25065.089226,4.040394e+08,68.885667,NaN,4800.736547,4.800737e+06

In [118]:
#show frt only for 2017
data_wb.loc[data_wb['year'] == "2017", :].head(-1)

,country,year,gdp_pC,pop,urban_pop%,frt,gdp_in_bil,gdp_in_millions
0,Brazil,2017,10888.982385,209288278,86.309,NaN,2055.505502,2.055506e+06
28,China,2017,7329.089299,1386395000,57.960,NaN,12237.700479,1.223770e+07
56,Denmark,2017,61582.166069,5769603,87.757,NaN,324.871969,3.248720e+05
84,Spain,2017,32405.750814,46572028,80.080,NaN,1311.320016,1.311320e+06
112,India,2017,1964.595183,1339180127,33.600,NaN,2600.818244,2.600818e+06
140,Japan,2017,48556.927245,126785797,91.535,NaN,4872.136946,4.872137e+06
168,Nigeria,2017,2412.202835,190886311,49.519,NaN,375.745487,3.757455e+05
196,Turkmenistan,2017,7317.549506,5758075,51.153,NaN,37.926286,3.792629e+04

In [119]:
# drop the year for which the data is missing 
I = data_wb['year'] == "2017"
data_wb.drop(data_wb[I].index, inplace = True)
# => data cleaning done

In [120]:
#summary statistics
data_wb.describe()

,gdp_pC,pop,urban_pop%,frt,gdp_in_bil,gdp_in_millions
count,243.000000,2.430000e+02,243.000000,243.000000,243.000000,2.430000e+02
mean,21091.481791,3.516648e+08,62.440601,2.500788,2634.596568,2.634597e+06
std,20765.760279,4.619849e+08,22.364281,1.429512,4039.983840,4.039984e+06
min,530.894738,3.683966e+06,25.547000,1.130000,2.378760,2.378760e+03
25%,2068.460092,3.997362e+07,42.112000,1.547000,271.036322,2.710363e+05
50%,8924.896961,1.319725e+08,76.097000,1.926000,655.420645,6.554206e+05
75%,42214.994900,3.080550e+08,81.391000,2.860500,3746.614770,3.746615e+06
max,61174.545146,1.378665e+09,91.457000,6.490000,18624.475000,1.862448e+07

In [121]:
data_wb.shape

(243, 8)

In [122]:
data_wb.count()
#=>data cleaning finished

country            243
year               243
gdp_pC             243
pop                243
urban_pop%         243
frt                243
gdp_in_bil         243
gdp_in_millions    243
dtype: int64

In [28]:
# make some cool groupby things see lecture basic_data
##empl.groupby('municipality')['e'].mean().head(10)
##empl.groupby('year')['e'].mean().plot
# demean to compare it better
##stocks2.groupby('firm')['close_demeaned'].plot(legend=True); 
##plt.title('Stock price: deviation from time-average'); 
# perform summary statistics
## nameofdataset.describe()
# maybe create an interactive table for each country
##see load_save_and_structure_data
#correlation table?
# maybe perform a simple regression
# world maps as diagramm

Fertility rate//
Group B//
Change the number